.delete-btn {
  display: flex;
  width: 96px;
  box-sizing: border-box;
  padding: 0;
  font-size: 15px;
  display: flex;
  border: none;
  align-items: center;
  justify-content: center;
  color: black;
  background-color: rgb(213, 213, 213);
  height: 99%;
  z-index: 99999;
}

.delete-btn:hover {
  color: red;
}
