.delete-btn {
  display: flex;
  box-sizing: border-box;
  margin-right: 5px;
  padding: 0;
  border-radius: 2px;
  width: 10px;
  height: 10px;
  font-size: 10px;
  display: flex;
  border: none;
  align-items: center;
  justify-content: center;
}
