.currency-card {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  box-sizing: border-box;
  background-color: #343441;
  color: white;
  height: 40px;
  margin-bottom: 1px;
  align-items: center;
  border-radius: 2px;
  transition: all 0.4s ease-in-out;
}
.currency-card:hover {
  background-color: #565666;
}

.first-two {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 140px;
}

.flag {
  margin: 5px;
  border-radius: 2px;
}
.converted_symbol {
  display: flex;
}

.value-to-convert {
  font-size: 12px;
  display: flex;
  justify-content: right;
  margin-right: 20px;
  width: 100px;
}

.currency-three-code {
  font-size: 12px;
}

.full-name {
  font-size: 10px;
}
.symbol {
  margin-right: 5px;
  font-size: 12px;
  width: 18px;
  display: flex;
  justify-content: left;
}
