.curr-list {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #232323;
  width: 300px;
  height: 100%;
}

.currency-list {
  list-style: none;
  box-sizing: border-box;
  margin: 0;
  /* padding: 0px 8px 3px 8px; */
  padding-left: 4px;
  padding-right: 4px;
  width: 100%;
  padding-bottom: 2px;
}

.currency-list-item {
  width: 100%;
}

.currency-list-item-hidden {
  width: 90px;
}

.currency-list:last-child {
  height: 0;
  border: 0;
  background-color: transparent;
  width: 0;
  opacity: 0;
  margin: 0;
}

.add-btn {
  background-color: rgb(214, 214, 214);
  height: 30px;
  font-weight: 500;
}

.base-currency {
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: rgb(180, 180, 180);
}
